// ==========================================================================
// footer (footer)
// ==========================================================================

/*doc
---
title: footer
name: footer
category: basics
---
 ```html_example
<div class="footer l-col-12 l-content l-padding">
	<p>This is a footer</p>
</div>
 ```
*/

.footer {
	background-color: @bg-light;

	.footer__logos {
		text-align: center;
		padding-top: 10px;
	}

	.footer__copy {
		background: @bg-secondary;
		background: -webkit-linear-gradient(lighten(@bg-secondary, 15%), @bg-secondary);
		background: -o-linear-gradient(lighten(@bg-secondary, 15%), @bg-secondary);
		background: -moz-linear-gradient(lighten(@bg-secondary, 15%), @bg-secondary);
		background: linear-gradient(lighten(@bg-secondary, 15%), @bg-secondary);
		text-align: center;
		padding: 15px;

		copyright {
			color: @font-light;
			font-size: 14px;

			a {
				color: @font-light;

				&:hover,
				&:focus {
					color: lighten(@font-secondary, 20%);
				}
			}
		}
	}
}


