// ==========================================================================
// Header (header)
// ==========================================================================

/*doc
---
title: Header
name: Header
category: basics
---
 ```html_example
<div class="header l-col-12 l-content l-padding">
	<p>This is a header</p>
</div>
 ```
*/

.header {
	text-align: center;
	background-color: @bg-light;
}


