// ==========================================================================
// Navigation (nav)
// ==========================================================================

// Navigation
// ==========================================================================
// Example HTML:
// <div class="nav">
// 	...
// </div>

.nav {
	background: @bg-secondary;
	background: -webkit-linear-gradient(@bg-secondary, lighten(@bg-secondary, 10%));
	background: -o-linear-gradient(@bg-secondary, lighten(@bg-secondary, 10%));
	background: -moz-linear-gradient(@bg-secondary, lighten(@bg-secondary, 10%));
	background: linear-gradient(@bg-secondary, lighten(@bg-secondary, 10%));

	.nav__inner {
		padding: 20px 15px 17px 15px;
	}

	.nav__item {
		font-weight: bold;
		font-size: 21px;
		line-height: 25px;
		display: inline-block;
		margin: 0 30px;
		padding-bottom: 2px;
		color: @font-light;
		border-bottom: 3px solid @font-secondary;

		&.nav__item--current {
			border-bottom: 3px solid lighten(@font-secondary, 40%);
		}

		&:hover,
		&:focus {
			border-bottom: 3px solid lighten(@font-secondary, 20%);
		}
	}

	.nav__menu {
		display: none;

		&.nav__menu--active {
			.nav__burger-dash {
				border-top-color: transparent;
				&:before {
					.transform( rotate( 45deg ) );
					left: -35%;
				}
				&:after {
					.transform( rotate( -45deg ) );
					left: 35%;
				}
				&:before, &:after {
					top: 2px;
				}
			}
		}
	}

	.nav__name {
		float: left;
		font-weight: bold;
		font-size: 15px;
	}

	.nav__burger {
		float: right;
		padding-top: 3px;
	}

	.nav__burger-dash {
		height: 20px;
		width: 20px;
		border-top: 2px solid @bg-primary;
		margin-left: 5px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		top: -1px;
		.transition( border 0.2s );

		&:before {
			content: '';
			border-top: 2px solid @bg-primary;
			position: absolute;
			display: block;
			left: 0;
			top: 4px;
			height: 20px;
			width: 20px;
		}

		&:after {
			content: '';
			border-top: 2px solid @bg-primary;
			position: absolute;
			display: block;
			left: 0;
			top: 10px;
			height: 20px;
			width: 20px;
		}

		&:before, &:after {
			.transform( rotate( 0deg ) );
			.transition( all 0.3s );
		}
	}

	.nav__content {
		display: none;
	}

	&.nav--mobile {
		display: none;
	}

	@media @xs {
		&.nav--desktop {
			display: none;
		}

		&.nav--mobile {
			display: block;
		}

		.nav__inner {
			padding-top: 55px;
		}

		.nav__menu {
			display: block;
			position: absolute;
			top: 15px;
			right: 10px;
		}

		.nav__item {
			display: block;
			padding: 0px;
			font-size: 18px;
			padding-bottom: 10px;

			&:first-child {
				padding-top: 10px;
			}
		}
	}
}







