// ==========================================================================
// splash (splash)
// ==========================================================================

/*doc
---
title: splash
name: splash
category: basics
---
 ```html_example
<div class="splash l-col-12 l-content l-padding">
	<p>This is a splash</p>
</div>
 ```
*/

.splash {
	position: relative;
	text-align: center;
	height: 300px;
	background-image: url(../images/splash.jpeg);
	background-repeat: ;
	background-size: cover;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px;
	background-position: right center;

	.splash__overlay {
		background: rgba(0, 0, 0, 0.2);
		height: 100%;
		width:100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	h1 {
		color: @font-light;
		display: -webkit-flex;
		font-weight: bold;
		z-index: 1;
	}

	@media @xs {
		height: 200px;
		background-position: 65% center;
	}
}


